.elementor-2006 .elementor-element.elementor-element-f5ed508:not(.elementor-motion-effects-element-type-background),
.elementor-2006 .elementor-element.elementor-element-f5ed508>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-dbc6d55);
}

.elementor-2006 .elementor-element.elementor-element-f5ed508 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2006 .elementor-element.elementor-element-f5ed508>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2006 .elementor-element.elementor-element-3e8994f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2006 .elementor-element.elementor-element-3e8994f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2006 .elementor-element.elementor-element-285c3a9 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-2006 .elementor-element.elementor-element-c3c271f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2006 .elementor-element.elementor-element-c3c271f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-menu-toggle {
    margin-right: auto;
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-312925c-font-family), Sans-serif;
    font-size: var( --e-global-typography-312925c-font-size);
    font-weight: var( --e-global-typography-312925c-font-weight);
    line-height: var( --e-global-typography-312925c-line-height);
    letter-spacing: var( --e-global-typography-312925c-letter-spacing);
    word-spacing: var( --e-global-typography-312925c-word-spacing);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-7304adc);
    fill: var( --e-global-color-7304adc);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item:hover,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .e--pointer-framed .elementor-item:before,
.elementor-2006 .elementor-element.elementor-element-216615f .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-2006 .elementor-element.elementor-element-216615f .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-menu-toggle {
    color: var( --e-global-color-7304adc);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-dbc6d55);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a:hover,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a.highlighted,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-menu-toggle:hover {
    color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a:hover,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-89592e4);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-89592e4);
}

.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-item,
.elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-312925c-font-family), Sans-serif;
    font-size: var( --e-global-typography-312925c-font-size);
    font-weight: var( --e-global-typography-312925c-font-weight);
    letter-spacing: var( --e-global-typography-312925c-letter-spacing);
    word-spacing: var( --e-global-typography-312925c-word-spacing);
}

.elementor-2006 .elementor-element.elementor-element-216615f div.elementor-menu-toggle {
    color: var( --e-global-color-7304adc);
}

.elementor-2006 .elementor-element.elementor-element-216615f div.elementor-menu-toggle svg {
    fill: var( --e-global-color-7304adc);
}

.elementor-2006 .elementor-element.elementor-element-216615f div.elementor-menu-toggle:hover {
    color: var( --e-global-color-primary);
}

.elementor-2006 .elementor-element.elementor-element-216615f div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-2006 .elementor-element.elementor-element-5864334.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2006 .elementor-element.elementor-element-5864334.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

@media(max-width:1024px) {
    .elementor-2006 .elementor-element.elementor-element-285c3a9 {
        text-align: center;
    }
    .elementor-2006 .elementor-element.elementor-element-c3c271f>.elementor-element-populated {
        padding: 0em 0em 0em 2em;
    }
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-312925c-font-size);
        line-height: var( --e-global-typography-312925c-line-height);
        letter-spacing: var( --e-global-typography-312925c-letter-spacing);
        word-spacing: var( --e-global-typography-312925c-word-spacing);
    }
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-item,
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-312925c-font-size);
        letter-spacing: var( --e-global-typography-312925c-letter-spacing);
        word-spacing: var( --e-global-typography-312925c-word-spacing);
    }
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown a {
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .elementor-2006 .elementor-element.elementor-element-5864334>.elementor-element-populated {
        padding: 0em 2em 0em 0em;
    }
}

@media(min-width:768px) {
    .elementor-2006 .elementor-element.elementor-element-3e8994f {
        width: 19.303%;
    }
    .elementor-2006 .elementor-element.elementor-element-c3c271f {
        width: 64.044%;
    }
    .elementor-2006 .elementor-element.elementor-element-5864334 {
        width: 16.319%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2006 .elementor-element.elementor-element-3e8994f {
        width: 100%;
    }
    .elementor-2006 .elementor-element.elementor-element-c3c271f {
        width: 65%;
    }
    .elementor-2006 .elementor-element.elementor-element-5864334 {
        width: 35%;
    }
}

@media(max-width:767px) {
    .elementor-2006 .elementor-element.elementor-element-3e8994f {
        width: 70%;
    }
    .elementor-2006 .elementor-element.elementor-element-285c3a9 {
        text-align: left;
    }
    .elementor-2006 .elementor-element.elementor-element-c3c271f {
        width: 30%;
    }
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-312925c-font-size);
        line-height: var( --e-global-typography-312925c-line-height);
        letter-spacing: var( --e-global-typography-312925c-letter-spacing);
        word-spacing: var( --e-global-typography-312925c-word-spacing);
    }
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-item,
    .elementor-2006 .elementor-element.elementor-element-216615f .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-312925c-font-size);
        letter-spacing: var( --e-global-typography-312925c-letter-spacing);
        word-spacing: var( --e-global-typography-312925c-word-spacing);
    }
    .elementor-2006 .elementor-element.elementor-element-5864334 {
        width: 100%;
    }
}